body {
    background-color: #eee;
}

.header {
    background-color: #4d0026;
    color: #eee;
    margin: 25px auto;
    width: 80%;
    text-align: center;
    padding: 25px 10px;
    border: 2px solid #4d0026;
}

.container {
    margin: 15px auto;
    width: 80%;
    border: 2px solid #333;
    padding: 0px 10px 10px;
}

input {
    padding: 3px;
}

td, th {
    /* display: flex; */
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

button {
    margin-top: 15px;
}